{% assign page_data = site.data.posts.teamWorkU[0] %}

<div class="bg-black js-easybg" style="background-image: url({{ page_data.background.url }});
background-size: cover; background-repeat: no-repeat; background-position: center;">

<div class="py4" style="background-color: rgba(0,0,0,0.5);">

<header class="center col-12 md-col-6 mx-auto py4 mt4 mb4">
<img src="{{ page_data.logo.url }}" alt="TeamWork U" width="300px;">
<h1 class="oswald line-height-3 h2 mb3 white caps" >{{ page_data.title }}</h1>
<p class="m0">
{% include cta.html inverted=true %}
</p>
</header>

</div>
</div>
